// Variable
$color-black-1: rgb(0, 0, 0, 0.4);
$color-black-2: rgb(0, 0, 0, 0.6);
$color-white-1: white;

.Background{
    background-image: url(../../../public/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .overlay{
        background-color: $color-black-1;
        width: 100%;
        height: 100%;
    }
    .top{
        color: $color-white-1;
        background-color: $color-black-2;
    }
}